[tools]
go = "1.25.7"
golangci-lint = "2.8.0"

[tasks]
fmt = "golangci-lint fmt ./..."
test = "go test -v -race ./..."
docs = "go doc -http"
lint = "golangci-lint run ./..."
lint-fast = "golangci-lint run --new-from-rev=HEAD~1 ./..."

init = "mise run setup-precommit && mise run setup-ci"

ci = { depends = ["fmt", "lint", "test"] }
setup-ci = "mise generate github-action --write --task=ci"
pre-commit = { depends = ["fmt", "lint-fast", "test"] }
setup-precommit = "mise generate git-pre-commit --write --task=pre-commit"
